body {


}

/*--------------------------------
-----------------------
font-family: 'Gentium Book Basic', serif;
font-family: 'Nunito', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Josefin Slab', serif;
/*--------------------------------
-----------------*/

.project-header {


}

.project-sub-header {


}


.project-description {


}


/* ----------- about page css ---------  */

.header-about-style {

  font-family: 'Josefin Slab', serif;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 3rem;

}

.about-picture {

  background-image: url(../img/profile001.jpg);
  background-size: cover;
  background-color: transparent;
  height: 22rem;
  width: 100%;

}


.about-arthur {

  margin-top: 3rem;
  font-family: 'Josefin Slab', serif;

}



.about-body-text {

font-family: 'Nunito', sans-serif;

}


  .about-banner {

    height: inherit;
    margin-bottom: auto;
    background-image: url(../img/profile001.jpg);
    background-size: cover;

  background: #32cd32; /* Old Browsers */
  background: -webkit-linear-gradient(top,#32cd32,#84bd00); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,#32cd32,#84bd00); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,#32cd32,#84bd00); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #32cd32, #84bd00); /*Standard*/

  }

  .profile-video {
    margin-top: 6rem;
    margin-bottom: 6rem;



  }
